hocflashcard.json
{
    "name": "Learn Flashcard by Telegram",
    "flow": [
        {
            "id": 4,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 357816
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "from": "drive",
                "spreadsheetId": "/1pYXOwGqkwQYL68csYQEYoutloHU13pzX/1KDmJeWEQIRXrMFXFclnFyMgX14lxCs9POiANi0NZNFY",
                "sheetId": "Sheet3",
                "rowNumber": "1",
                "includesHeaders": true,
                "values": {
                    "5": "{{now}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": -480,
                    "y": -1160
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (psyoffan@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "HocFlashcard",
                                "hoccodedudu"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet3"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "DN (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "GN (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Date (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "ID (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "(E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "(F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "(G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "(H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "(I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "(J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "(K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "(L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "(M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "(N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "DN (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "GN (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Date (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "ID (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "google-sheets:getCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 357816
            },
            "mapper": {
                "select": "list",
                "cell": "E2",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "from": "drive",
                "spreadsheetId": "/1pYXOwGqkwQYL68csYQEYoutloHU13pzX/1KDmJeWEQIRXrMFXFclnFyMgX14lxCs9POiANi0NZNFY",
                "sheetId": "Sheet3"
            },
            "metadata": {
                "designer": {
                    "x": 42,
                    "y": -1371
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (psyoffan@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Search by path"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "HocFlashcard",
                                "hoccodedudu"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet3"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "cell",
                        "type": "text",
                        "label": "Cell",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 357816
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "1KDmJeWEQIRXrMFXFclnFyMgX14lxCs9POiANi0NZNFY",
                "sheetId": "Sheet3",
                "includesHeaders": true,
                "tableFirstRow": "A1:CZ1",
                "filter": [
                    [
                        {
                            "a": "D",
                            "o": "text:equal",
                            "b": "{{1.value}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": 538,
                    "y": -1387
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (psyoffan@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "hoccodedudu"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet3"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "DN (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "GN (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Date (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "ID (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "(E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "(F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "(G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    },
                    {
                        "name": "26",
                        "label": "(AA)",
                        "type": "text"
                    },
                    {
                        "name": "27",
                        "label": "(AB)",
                        "type": "text"
                    },
                    {
                        "name": "28",
                        "label": "(AC)",
                        "type": "text"
                    },
                    {
                        "name": "29",
                        "label": "(AD)",
                        "type": "text"
                    },
                    {
                        "name": "30",
                        "label": "(AE)",
                        "type": "text"
                    },
                    {
                        "name": "31",
                        "label": "(AF)",
                        "type": "text"
                    },
                    {
                        "name": "32",
                        "label": "(AG)",
                        "type": "text"
                    },
                    {
                        "name": "33",
                        "label": "(AH)",
                        "type": "text"
                    },
                    {
                        "name": "34",
                        "label": "(AI)",
                        "type": "text"
                    },
                    {
                        "name": "35",
                        "label": "(AJ)",
                        "type": "text"
                    },
                    {
                        "name": "36",
                        "label": "(AK)",
                        "type": "text"
                    },
                    {
                        "name": "37",
                        "label": "(AL)",
                        "type": "text"
                    },
                    {
                        "name": "38",
                        "label": "(AM)",
                        "type": "text"
                    },
                    {
                        "name": "39",
                        "label": "(AN)",
                        "type": "text"
                    },
                    {
                        "name": "40",
                        "label": "(AO)",
                        "type": "text"
                    },
                    {
                        "name": "41",
                        "label": "(AP)",
                        "type": "text"
                    },
                    {
                        "name": "42",
                        "label": "(AQ)",
                        "type": "text"
                    },
                    {
                        "name": "43",
                        "label": "(AR)",
                        "type": "text"
                    },
                    {
                        "name": "44",
                        "label": "(AS)",
                        "type": "text"
                    },
                    {
                        "name": "45",
                        "label": "(AT)",
                        "type": "text"
                    },
                    {
                        "name": "46",
                        "label": "(AU)",
                        "type": "text"
                    },
                    {
                        "name": "47",
                        "label": "(AV)",
                        "type": "text"
                    },
                    {
                        "name": "48",
                        "label": "(AW)",
                        "type": "text"
                    },
                    {
                        "name": "49",
                        "label": "(AX)",
                        "type": "text"
                    },
                    {
                        "name": "50",
                        "label": "(AY)",
                        "type": "text"
                    },
                    {
                        "name": "51",
                        "label": "(AZ)",
                        "type": "text"
                    },
                    {
                        "name": "52",
                        "label": "(BA)",
                        "type": "text"
                    },
                    {
                        "name": "53",
                        "label": "(BB)",
                        "type": "text"
                    },
                    {
                        "name": "54",
                        "label": "(BC)",
                        "type": "text"
                    },
                    {
                        "name": "55",
                        "label": "(BD)",
                        "type": "text"
                    },
                    {
                        "name": "56",
                        "label": "(BE)",
                        "type": "text"
                    },
                    {
                        "name": "57",
                        "label": "(BF)",
                        "type": "text"
                    },
                    {
                        "name": "58",
                        "label": "(BG)",
                        "type": "text"
                    },
                    {
                        "name": "59",
                        "label": "(BH)",
                        "type": "text"
                    },
                    {
                        "name": "60",
                        "label": "(BI)",
                        "type": "text"
                    },
                    {
                        "name": "61",
                        "label": "(BJ)",
                        "type": "text"
                    },
                    {
                        "name": "62",
                        "label": "(BK)",
                        "type": "text"
                    },
                    {
                        "name": "63",
                        "label": "(BL)",
                        "type": "text"
                    },
                    {
                        "name": "64",
                        "label": "(BM)",
                        "type": "text"
                    },
                    {
                        "name": "65",
                        "label": "(BN)",
                        "type": "text"
                    },
                    {
                        "name": "66",
                        "label": "(BO)",
                        "type": "text"
                    },
                    {
                        "name": "67",
                        "label": "(BP)",
                        "type": "text"
                    },
                    {
                        "name": "68",
                        "label": "(BQ)",
                        "type": "text"
                    },
                    {
                        "name": "69",
                        "label": "(BR)",
                        "type": "text"
                    },
                    {
                        "name": "70",
                        "label": "(BS)",
                        "type": "text"
                    },
                    {
                        "name": "71",
                        "label": "(BT)",
                        "type": "text"
                    },
                    {
                        "name": "72",
                        "label": "(BU)",
                        "type": "text"
                    },
                    {
                        "name": "73",
                        "label": "(BV)",
                        "type": "text"
                    },
                    {
                        "name": "74",
                        "label": "(BW)",
                        "type": "text"
                    },
                    {
                        "name": "75",
                        "label": "(BX)",
                        "type": "text"
                    },
                    {
                        "name": "76",
                        "label": "(BY)",
                        "type": "text"
                    },
                    {
                        "name": "77",
                        "label": "(BZ)",
                        "type": "text"
                    },
                    {
                        "name": "78",
                        "label": "(CA)",
                        "type": "text"
                    },
                    {
                        "name": "79",
                        "label": "(CB)",
                        "type": "text"
                    },
                    {
                        "name": "80",
                        "label": "(CC)",
                        "type": "text"
                    },
                    {
                        "name": "81",
                        "label": "(CD)",
                        "type": "text"
                    },
                    {
                        "name": "82",
                        "label": "(CE)",
                        "type": "text"
                    },
                    {
                        "name": "83",
                        "label": "(CF)",
                        "type": "text"
                    },
                    {
                        "name": "84",
                        "label": "(CG)",
                        "type": "text"
                    },
                    {
                        "name": "85",
                        "label": "(CH)",
                        "type": "text"
                    },
                    {
                        "name": "86",
                        "label": "(CI)",
                        "type": "text"
                    },
                    {
                        "name": "87",
                        "label": "(CJ)",
                        "type": "text"
                    },
                    {
                        "name": "88",
                        "label": "(CK)",
                        "type": "text"
                    },
                    {
                        "name": "89",
                        "label": "(CL)",
                        "type": "text"
                    },
                    {
                        "name": "90",
                        "label": "(CM)",
                        "type": "text"
                    },
                    {
                        "name": "91",
                        "label": "(CN)",
                        "type": "text"
                    },
                    {
                        "name": "92",
                        "label": "(CO)",
                        "type": "text"
                    },
                    {
                        "name": "93",
                        "label": "(CP)",
                        "type": "text"
                    },
                    {
                        "name": "94",
                        "label": "(CQ)",
                        "type": "text"
                    },
                    {
                        "name": "95",
                        "label": "(CR)",
                        "type": "text"
                    },
                    {
                        "name": "96",
                        "label": "(CS)",
                        "type": "text"
                    },
                    {
                        "name": "97",
                        "label": "(CT)",
                        "type": "text"
                    },
                    {
                        "name": "98",
                        "label": "(CU)",
                        "type": "text"
                    },
                    {
                        "name": "99",
                        "label": "(CV)",
                        "type": "text"
                    },
                    {
                        "name": "100",
                        "label": "(CW)",
                        "type": "text"
                    },
                    {
                        "name": "101",
                        "label": "(CX)",
                        "type": "text"
                    },
                    {
                        "name": "102",
                        "label": "(CY)",
                        "type": "text"
                    },
                    {
                        "name": "103",
                        "label": "(CZ)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3743727
            },
            "mapper": {
                "chatId": "@hocrcungdu",
                "text": "{{2.`0`}}",
                "messageThreadId": "",
                "parseMode": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter",
                "replyMarkup": ""
            },
            "metadata": {
                "designer": {
                    "x": -70,
                    "y": -928
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "HocR",
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            }
                        }
                    },
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "30"
            },
            "metadata": {
                "designer": {
                    "x": 334,
                    "y": -924
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "validate": {
                            "min": 1,
                            "max": 300
                        },
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3743727
            },
            "mapper": {
                "chatId": "@hocrcungdu",
                "text": "{{2.`0`}}",
                "messageThreadId": "",
                "parseMode": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter",
                "replyMarkup": ""
            },
            "metadata": {
                "designer": {
                    "x": 654,
                    "y": -942
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "HocR",
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            }
                        }
                    },
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 5,
                    "text": "Xem p n n!",
                    "filter": false
                },
                {
                    "id": 6,
                    "text": "i 1 cht cho c p n",
                    "filter": false
                },
                {
                    "id": 3,
                    "text": "Gi ra nh ngha vo Telegram v t gii",
                    "filter": false
                },
                {
                    "id": 2,
                    "text": "i tm dng no ng vi s th t ",
                    "filter": false
                },
                {
                    "id": 1,
                    "text": "Ly ra s c random, trc  mnh  lm 1 hm randbetween (1, counta) ",
                    "filter": false
                },
                {
                    "id": 4,
                    "text": "Update ngy chy vo sheet, mc ch  randomize s mi",
                    "filter": false
                }
            ]
        },
        "zone": "us1.make.com"
    }
}